<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page11.png` %>">
    <%= data.most_links_shared[0].src %>

    <div class="container">
        <div class="card">
            <img src="<%= data.most_images_shared[0].src %>">
            <div class="card-body">
                <div>
                    <p class="share-value"><%= data.most_images_shared[0].shared_count %></p>
                    <p class="share-text">مشاركة</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="<%= data.most_images_shared[1].src %>">
            <div class="card-body">
                <div>
                    <p class="share-value"><%= data.most_images_shared[1].shared_count %></p>
                    <p class="share-text">مشاركة</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="<%= data.most_images_shared[2].src %>">
            <div class="card-body">
                <div>
                    <p class="share-value"><%= data.most_images_shared[2].shared_count %></p>
                    <p class="share-text">مشاركة</p>
                </div>
            </div>
        </div>

        <div class="card row2">
            <img src="<%= data.most_images_shared[3].src %>">
            <div class="card-body">
                <div>
                    <p class="share-value"><%= data.most_images_shared[3].shared_count %></p>
                    <p class="share-text">مشاركة</p>
                </div>
            </div>
        </div>

        <div class="card row2">
            <img src="<%= data.most_images_shared[4].src %>">
            <div class="card-body">
                <div>
                    <p class="share-value"><%= data.most_images_shared[4].shared_count %></p>
                    <p class="share-text">مشاركة</p>
                </div>
            </div>
        </div>

        <div class="card row2">
            <img src="<%= data.most_images_shared[5].src %>">
            <div class="card-body">
                <div>
                    <p class="share-value"><%= data.most_images_shared[5].shared_count %></p>
                    <p class="share-text">مشاركة</p>
                </div>
            </div>
        </div>

    </div>

    <div class="pageNum"><%= pageNum %></div>
</div>
