<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page1.png` %>">

    <div id="page2_box1">
        <ul>
            <% data.statistics.tweets.labels.forEach((lable) => { %>
                <li><%= lable %></li>
            <% }) %>
        </ul>
    </div>

    <div id="page2_box2">
        <p>
            أصبحت شبكات التواصل الاجتماعي ساحة مفتوحة تعكس التوجهات السياسية والاجتماعية بشكل عام مما جعل منها مصدراً خصبا للتحليل ودراسة الظواهر والسلوكاياتة. من هذا المنطلق خدمات تقارير موجت تحاول تسيلط الضوء على فهم هذه الانعكاسات.
        </p>

        <p>
            من خلال هذا التقرير سوف يتم استعراض أهم التغريدات والوسوم المتفاعلة مع هاشتاقات المطلوبة في مواقع التواصل الاجتماعي. كما تم استثناء هاشتاقات الحملات الدعاية و الحسابات والوهمية والسبامات.
        </p>

        <p>تم جمع بيانات من خلال منصة التفاعل الاجتماعي تويتر وذلك من خلال تفاعل المغردين مع الهاشتاقت الخاصة. حيث تم جمع كافة التغريدات والتذكيرات في هذه الهاشتاقات ما بين تاريخ.</p>


        <div id="date_range">
            <span><%= data.start_data %></span> إلي <span><%= data.end_data %></span>
        </div>

        <p>لتكون هي المعلومات المستهدفة أثناء عميلة التحليل. حيث تم تجميع حولي أكثر من <%= ar_word_num[0]%> تغريدة وأكثر من <%= ar_word_num[1] %> مغرد</p>
    </div>
</div>
