<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page8.png` %>">

    <div id="page8_loc0">
        <p class="hashtag"><%= data.top_hashtag[0].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[0].count %></h3>
    </div>

    <div id="page8_loc1">
        <p class="hashtag"><%= data.top_hashtag[1].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[1].count %></h3>
    </div>

    <div id="page8_loc2">
        <p class="hashtag"><%= data.top_hashtag[2].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[2].count %></h3>
    </div>

    <div id="page8_loc3">
        <p class="hashtag"><%= data.top_hashtag[3].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[3].count %></h3>
    </div>

    <div id="page8_loc4">
        <p class="hashtag"><%= data.top_hashtag[4].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[4].count %></h3>
    </div>

    <div class="pageNum"><%= pageNum %></div>
</div>
