<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page9.png` %>">

    <div id="page8_loc0">
        <p class="hashtag"><%= data.top_hashtag[5].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[5].count %></h3>
    </div>

    <div id="page8_loc1">
        <p class="hashtag"><%= data.top_hashtag[6].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[6].count %></h3>
    </div>

    <div id="page8_loc2">
        <p class="hashtag"><%= data.top_hashtag[7].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[7].count %></h3>
    </div>

    <div id="page8_loc3">
        <p class="hashtag"><%= data.top_hashtag[8].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[8].count %></h3>
    </div>

    <div id="page8_loc4">
        <p class="hashtag"><%= data.top_hashtag[9].hashtag %></p>
        <h3 class="tweets"><%= data.top_hashtag[9].count %></h3>
    </div>

    <div class="pageNum"><%= pageNum %></div>
</div>
