<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page3.png` %>">
    <div class="page3-row1">
        <div id="page3-cell1">
            <%= data.media_type.videos %>
        </div>

        <div id="page3-cell2">
            <%= data.media_type.images %>
        </div>

        <div id="page3-cell3">
            <%= data.media_type.links %>
        </div>

        <div id="page3-cell4">
            <%= data.media_type.gifs %>
        </div>
    </div>



    <div class="pageNum"><%= pageNum %></div>
</div>
