<div class="page">
    <img class="bg" src="<%= `file:///${dir}/images/page10.png` %>">

    <div id="page12_box_wrapper" class="page12">
        <div class="page12_box">
            <img src="<%= data.most_account_trading[0].account_img %>" class="round_img_account">
            <div class="page12_info">
                <h2><%= data.most_account_trading[0].account_username %></h2>
                <h4><%= data.most_account_trading[0].account_tweet_name %>@</h4>
                <div class="titter_count_wrapper">
                    <p>عدد التغريدات الكلي</p>
                    <div>
                        <%= data.most_account_trading[0].num_tweets %>
                    </div>
                </div>
            </div>
        </div>

        <div class="page12_box">
            <img src="<%= data.most_account_trading[1].account_img %>" class="round_img_account">
            <div class="page12_info">
                <h2><%= data.most_account_trading[1].account_username %></h2>
                <h4><%= data.most_account_trading[1].account_tweet_name %>@</h4>
                <div class="titter_count_wrapper">
                    <p>عدد التغريدات الكلي</p>
                    <div>
                        <%= data.most_account_trading[1].num_tweets %>
                    </div>
                </div>
            </div>
        </div>

        <div class="page12_box">
            <img src="<%= data.most_account_trading[2].account_img %>" class="round_img_account">
            <div class="page12_info">
                <h2><%= data.most_account_trading[2].account_username %></h2>
                <h4><%= data.most_account_trading[2].account_tweet_name %>@</h4>
                <div class="titter_count_wrapper">
                    <p>عدد التغريدات الكلي</p>
                    <div>
                        <%= data.most_account_trading[2].num_tweets %>
                    </div>
                </div>
            </div>
        </div>

        <div class="page12_box">
            <img src="<%= data.most_account_trading[3].account_img %>" class="round_img_account">
            <div class="page12_info">
                <h2><%= data.most_account_trading[3].account_username %></h2>
                <h4><%= data.most_account_trading[3].account_tweet_name %>@</h4>
                <div class="titter_count_wrapper">
                    <p>عدد التغريدات الكلي</p>
                    <div>
                        <%= data.most_account_trading[3].num_tweets %>
                    </div>
                </div>
            </div>
        </div>

        <div class="page12_box">
            <img src="<%= data.most_account_trading[4].account_img %>" class="round_img_account">
            <div class="page12_info">
                <h2><%= data.most_account_trading[4].account_username %></h2>
                <h4><%= data.most_account_trading[4].account_tweet_name %>@</h4>
                <div class="titter_count_wrapper">
                    <p>عدد التغريدات الكلي</p>
                    <div>
                        <%= data.most_account_trading[4].num_tweets %>
                    </div>
                </div>
            </div>
        </div>

        <div class="page12_box">
            <img src="<%= data.most_account_trading[5].account_img %>" class="round_img_account">
            <div class="page12_info">
                <h2><%= data.most_account_trading[5].account_username %></h2>
                <h4><%= data.most_account_trading[5].account_tweet_name %>@</h4>
                <div class="titter_count_wrapper">
                    <p>عدد التغريدات الكلي</p>
                    <div>
                        <%= data.most_account_trading[5].num_tweets %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pageNum"><%= pageNum %></div>
</div>
