<html dir="rtl">
<head>
    <meta charset="utf8">
    <title>SuitArt Business Card</title>
    <link href="https://fonts.googleapis.com/css?family=Almarai&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="<%= `${dir_file}/base.css` %>">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

</head>
<body>
    <% pageNum += 1; %>
    <%- include(`${dir}/partials/inter.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page2.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page3.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page4.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page5.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page6.ejs`) %>


    <% if (data.sentiment.length > 0) { %>
        <% pageNum += 1; %>
        <%- include(`${dir}/partials/page7.ejs`) %>
    <% }%>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page8.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page9.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page10.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page11.ejs`) %>

    <% pageNum += 1; %>
    <%- include(`${dir}/partials/page12.ejs`) %>

    <%- include(`${dir}/partials/last-page.ejs`) %>

    <script type="text/javascript">

        var char4Data = $('#char4Data').val();
        var dataArr = JSON.parse(char4Data);

        Highcharts.chart('container', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                },
                backgroundColor: "rgba(255, 255, 255, 0)",
                // plotBackgroundColor: 'rgba(221, 60, 132, 0)',
            },

            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            plotOptions: {
                pie: {
                    innerSize: 100,
                    depth: 45,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        format: '{point.percentage:.1f}% - {point.name}',
                        connectorWidth: 2,
                        useHTML: true,
                        style: {
                            fontSize: '15px',
                            fontFamily: 'Almarai',
                            // textShadow: false, //bug fixed IE9 and EDGE
                        },
                    }
                }
            },
            colors: ['#05b098', '#a4ded9', '#f05973', '#fdd005'],
            series: [{
                data: dataArr
            }],
            tooltip: {
                enabled: false,
            }
        });
    </script>

    <script type="text/javascript">
        var page6ChartLable = $('#page6ChartLable').val();
        var page6ChartValue = $('#page6ChartValue').val();
        var lable = JSON.parse(page6ChartLable);
        var value = JSON.parse(page6ChartValue);

        Highcharts.chart('tweets', {
            chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 10,
                    // beta: 5,
                    depth: 70
                },
                backgroundColor: "rgba(255, 255, 255, 0)",
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            legend: {
                enabled: false,
            },

            plotOptions: {
                column: {
                    depth: 25
                }
            },
            xAxis: {
                categories: lable,
                labels: {
                    skew3d: true,
                    style: {
                        fontSize: '16px'
                    }
                }
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                enabled: false,
            },
            series: [{
                name: 'Sales',
                data: value
            }]
        });
    </script>

    <script type="text/javascript">
        var page7Chart = $('#page7Chart').val();
        var dataArr = JSON.parse(page7Chart);

        Highcharts.chart('sentiment', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 5
                },
                backgroundColor: "rgba(255, 255, 255, 0)",
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            plotOptions: {
                pie: {
                    innerSize: 300,
                    depth: 45,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f}% - {point.name}',
                        connectorWidth: 2,
                        useHTML: true,
                        style: {
                            fontSize: '15px',
                            fontFamily: 'Almarai',
                            // textShadow: false, //bug fixed IE9 and EDGE
                        },
                    }
                }
            },
            colors: ['#2e9746', '#be202b', '#f2d02a', '#838281'],
            series: [{
                data: dataArr
            }],
            tooltip: {
                enabled: false,
            }
        });
    </script>
</body>
</html>
